@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #f3c649 !important;
}
.bg-success {
  background-color: #475577 !important;
}
.bg-info {
  background-color: #000000 !important;
}
.bg-warning {
  background-color: #000000 !important;
}
.bg-danger {
  background-color: #475577 !important;
}
.btn-primary {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-secondary {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-info {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success {
  background-color: #475577;
  border-color: #475577;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #2a3347;
  border-color: #2a3347;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a3347 !important;
  border-color: #2a3347 !important;
}
.btn-warning {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger {
  background-color: #475577;
  border-color: #475577;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #2a3347;
  border-color: #2a3347;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #2a3347 !important;
  border-color: #2a3347 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-info-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success-outline {
  background: none;
  border-color: #212737;
  color: #212737;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #475577;
  border-color: #475577;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #475577 !important;
  border-color: #475577 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #212737;
  color: #212737;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #475577;
  border-color: #475577;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #475577 !important;
  border-color: #475577 !important;
}
.text-primary {
  color: #f3c649 !important;
}
.text-success {
  color: #475577 !important;
}
.text-info {
  color: #000000 !important;
}
.text-warning {
  color: #000000 !important;
}
.text-danger {
  color: #475577 !important;
}
.alert-success {
  background-color: #475577;
}
.alert-info {
  background-color: #000000;
}
.alert-warning {
  background-color: #000000;
}
.alert-danger {
  background-color: #475577;
}
.btn-social {
  border-color: #f3c649;
}
.btn-social:hover {
  background: #f3c649;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #f3c649;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #f3c649;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #f3c649;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #f3c649;
}
.lead a,
.lead a:hover {
  color: #f3c649;
}
.lead blockquote {
  border-color: #f3c649;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #8695b7;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #8695b7;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #f3c649;
}
#header2-b .mbr-section-text B {
  font-size: 19px;
  text-align: center;
}
#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-0 .link {
  font-size: 2.15rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 2.328rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #f3c649;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #d6d6d6;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #e7e7e7!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #efefef;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #f3c649;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #f3c649!important;
}
#features4-7 .card-subtitle {
  color: #232323;
  font-size: 16px;
}
#features4-7 .iconbox {
  background-color: #f3c649;
  border-color: #f3c649;
}
#features4-7 P {
  color: #28324e;
}
#features4-7 H4 {
  color: #f3c649;
}
#header3-g .mbr-section-title,
#header3-g .mbr-section-subtitle {
  text-align: center;
}
#header3-g H3 {
  color: #ffffff;
}
#header3-g SMALL {
  color: #000000;
}
#features7-e .card-subtitle {
  color: #ffffff;
}
#features7-e .iconbox {
  background-color: #f3c649;
  border-color: #f3c649;
}
#features7-e P {
  text-align: center;
}
#features6-d P {
  text-align: center;
}
#features6-d H5 {
  color: #ffffff;
}
#msg-box8-f .mbr-section-title,
#msg-box8-f p {
  color: #fff;
}
#msg-box8-f .mbr-section-title {
  color: #000000;
}
#features2-c .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #f3c649;
}
#features2-c .mbr-cards-col:nth-child(odd) .card-title {
  font-size: 20px;
  color: #ffffff;
}
#features2-c .mbr-cards-col:nth-child(odd) .card-text {
  text-align: left;
}
#features2-j .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #efefef;
}
#features2-j .mbr-cards-col:nth-child(odd) .card-title {
  color: #000000;
}
#features2-j .mbr-cards-col:nth-child(even) .card-title {
  color: #ffffff;
}
#features2-j .mbr-cards-col:nth-child(odd) .card-text {
  color: #000000;
}
#header3-i .mbr-section-title,
#header3-i .mbr-section-subtitle {
  text-align: center;
}
#header3-i H3 {
  color: #ffffff;
}
#features4-h .card-subtitle {
  color: #bcbcbc;
}
#features4-h .iconbox {
  background-color: #f3c649;
  border-color: #f3c649;
}
#features4-h H4 {
  color: #ffffff;
}
#features4-h P {
  color: #28324e;
}


#form1-m .form-control-label {
  color: #232323;
}
#ext_menu-k .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-k .navbar-caption {
  color: #ffffff;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-k .navbar-toggler {
  color: #ffffff;
}
#ext_menu-k .close-icon::before,
#ext_menu-k .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-k .link,
#ext_menu-k .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-k .link {
  font-size: 2.15rem;
}
#ext_menu-k .dropdown-item,
#ext_menu-k .nav-dropdown-sm .link {
  font-size: 2.328rem;
}
#ext_menu-k .link:hover,
#ext_menu-k .dropdown-item:hover,
#ext_menu-k .link:focus,
#ext_menu-k .dropdown-item:focus {
  color: #f3c649;
}
#ext_menu-k .link[aria-expanded="true"],
#ext_menu-k .dropdown-menu {
  background: #d6d6d6;
}
#ext_menu-k .nav-dropdown-sm .link:focus,
#ext_menu-k .nav-dropdown-sm .link:hover,
#ext_menu-k .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-k .nav-dropdown-sm .dropdown-item:hover {
  background: #e7e7e7!important;
}
#ext_menu-k .navbar,
#ext_menu-k .nav-dropdown-sm,
#ext_menu-k .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-k .nav-dropdown-sm .dropdown-menu {
  background: #efefef;
}
#ext_menu-k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-k .bg-color.transparent.opened .link:hover,
#ext_menu-k .bg-color.transparent.opened .link:focus {
  color: #f3c649;
}
#ext_menu-k .link[aria-expanded="true"],
#ext_menu-k .dropdown-item[aria-expanded="true"] {
  color: #f3c649!important;
}


#ext_menu-p .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-p .navbar-caption {
  color: #ffffff;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-p .navbar-toggler {
  color: #ffffff;
}
#ext_menu-p .close-icon::before,
#ext_menu-p .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-p .link,
#ext_menu-p .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-p .link {
  font-size: 2.15rem;
}
#ext_menu-p .dropdown-item,
#ext_menu-p .nav-dropdown-sm .link {
  font-size: 2.328rem;
}
#ext_menu-p .link:hover,
#ext_menu-p .dropdown-item:hover,
#ext_menu-p .link:focus,
#ext_menu-p .dropdown-item:focus {
  color: #f3c649;
}
#ext_menu-p .link[aria-expanded="true"],
#ext_menu-p .dropdown-menu {
  background: #d6d6d6;
}
#ext_menu-p .nav-dropdown-sm .link:focus,
#ext_menu-p .nav-dropdown-sm .link:hover,
#ext_menu-p .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-p .nav-dropdown-sm .dropdown-item:hover {
  background: #e7e7e7!important;
}
#ext_menu-p .navbar,
#ext_menu-p .nav-dropdown-sm,
#ext_menu-p .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-p .nav-dropdown-sm .dropdown-menu {
  background: #efefef;
}
#ext_menu-p .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-p .bg-color.transparent.opened .link:hover,
#ext_menu-p .bg-color.transparent.opened .link:focus {
  color: #f3c649;
}
#ext_menu-p .link[aria-expanded="true"],
#ext_menu-p .dropdown-item[aria-expanded="true"] {
  color: #f3c649!important;
}


#ext_menu-v .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-v .navbar-caption {
  color: #ffffff;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
}
#ext_menu-v .navbar-toggler {
  color: #ffffff;
}
#ext_menu-v .close-icon::before,
#ext_menu-v .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-v .link,
#ext_menu-v .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-v .link {
  font-size: 2.15rem;
}
#ext_menu-v .dropdown-item,
#ext_menu-v .nav-dropdown-sm .link {
  font-size: 2.328rem;
}
#ext_menu-v .link:hover,
#ext_menu-v .dropdown-item:hover,
#ext_menu-v .link:focus,
#ext_menu-v .dropdown-item:focus {
  color: #f3c649;
}
#ext_menu-v .link[aria-expanded="true"],
#ext_menu-v .dropdown-menu {
  background: #d6d6d6;
}
#ext_menu-v .nav-dropdown-sm .link:focus,
#ext_menu-v .nav-dropdown-sm .link:hover,
#ext_menu-v .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-v .nav-dropdown-sm .dropdown-item:hover {
  background: #e7e7e7!important;
}
#ext_menu-v .navbar,
#ext_menu-v .nav-dropdown-sm,
#ext_menu-v .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-v .nav-dropdown-sm .dropdown-menu {
  background: #efefef;
}
#ext_menu-v .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-v .bg-color.transparent.opened .link:hover,
#ext_menu-v .bg-color.transparent.opened .link:focus {
  color: #f3c649;
}
#ext_menu-v .link[aria-expanded="true"],
#ext_menu-v .dropdown-item[aria-expanded="true"] {
  color: #f3c649!important;
}
